UPLOAD_DIR=uploads
TEMP_DIR=temp
MODEL_PATH=runs/detect/train/weights/best.pt

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_FROM=your_sender_email@example.com
EMAIL_TO=recipient@example.com
EMAIL_PASSWORD=your_app_password
